.App {
  text-align: center;
}

select, input {
  border: 1px solid #e3e3e3;
  background-color: white;
  height: 28px;
  padding: 0 6px;
  margin: 6px;
  border-radius: 0;
  min-width: 150px;
}

input[type=submit] {
  height: 30px;
}

#header {
  background-color: #333;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
}
